@import "@/_styles/variables";
@import "@/_styles/mixins";

// TODO: inner padding 더 넓게 잡기
.container {
  @include inner-container;
  .form {
    margin: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;

    label {
      padding-top: 11px;
      font-size: 16px;
      color: $primary;
      font-weight: 500;
    }

    .file-input {
      background: none;
      border: none;
    }

    .button-container {
      display: flex;
      margin: 0 auto;
      flex-grow: 1;
      gap: 10px;
      grid-column: span 2;
      margin-top: 50px;

      // button {
      //   width: 100px;
      // }
    }
  }
}
