@import "@/_styles/variables";
@import "@/_styles/mixins";

.sr-only {
  @include sr-only;
}

.container {
  @include inner-container;
  text-align: center;

  .table-container {
    .button-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .select {
        background-color: $white;
        border-color: $gray-border;
      }
    }
    margin: 100px 50px;
    display: flex;
    width: 100%;
    flex-direction: column;

    .write-button {
      margin-left: auto;
    }
  }

  .table {
    margin: 0 auto;
    // margin: 100px 0;
    width: 100%;
    table-layout: fixed;
    @include table-content;
    border-top: 1px solid $gray-02;
    border-collapse: collapse;

    span {
      display: flex;
      width: 100%;
    }
    th,
    td {
      padding: 17px;
      border-bottom: 1px solid $gray-lighter;
      text-align: center;
    }

    th {
      padding: 20px 0;

      // background-color: $gray-lightest;
      font-weight: 600;
      color: $primary;
    }

    td {
      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .edit-button,
    .delete-button {
      margin: 0 auto;
    }

    .title {
      text-align: left;
    }
  }
}
