@import "../../_styles/variables";
@import "../../_styles/mixins";

.footer {
  background-color: $gray-02;
  padding: 50px 0;
  width: 100%;
  font-size: 15px;
  z-index: 10;

  &-inner {
    @include inner-container;
    display: flex;
    flex-direction: column;

    .policy-button-container {
      display: flex;
      justify-content: space-between;
    }

    .policy {
      display: flex;
      gap: 24px;
      flex-grow: 1;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        gap: 2px;
      }
    }
    * {
      color: $white;
      font-weight: 300;
    }
    cite {
      font-weight: 500;
    }
    address {
      display: flex;
      gap: 24px;
      margin-top: 40px;
      font-size: 14px;
    }
    small {
      margin-top: 20px;
      font-weight: 200;
      // color: #acb7c1;
      font-size: 14px;
    }

    h2 {
      @include sr-only;
    }
  }

  button.login,
  button.logout {
    margin-right: auto;
    background: none;
    border: none;
    font-size: 15px;
    padding: 0;
  }
}
