@import "@/_styles/variables";
@import "@/_styles/mixins";

// TODO: inner padding 더 넓게 잡기
.container {
  @include inner-container;

  .form {
    margin: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;

    label {
      padding-top: 11px;
      font-size: 16px;
      color: $primary;
      font-weight: 500;
    }
    .password-label {
      color: $gray-02;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .file-input {
      background: none;
      border: none;
    }

    .exist-file-container {
      display: flex;
      align-items: center;
      padding-left: 8px;
    }

    .button-container {
      display: flex;
      margin: 0 auto;
      flex-grow: 1;
      gap: 10px;
      grid-column: span 2;
      margin-top: 50px;
    }
    .required-mark {
      color: $secondary;
      vertical-align: middle;
    }

    .turnstile {
      // margin: 0 auto;
      // margin-left: auto;
      // grid-column: span 2;
    }
  }
}
