@import "@/_styles/variables";
@import "@/_styles/mixins";

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  width: auto;

  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    position: relative;
    margin-left: auto;
    width: 500px;
    justify-items: center;

    li {
      height: 100%;
      display: flex;
      color: $primary;
    }

    .nav-item {
      padding: 12px 0;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;

      &--active {
        border-bottom: 2px solid $primary-lighter;
      }
    }
  }
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }
}
