@import "@/_styles/variables";
@import "@/_styles/mixins";

.sub-nav-container {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 999;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.25s ease, visibility 0.25s ease;
  padding-bottom: 40px;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.sub-nav-inner {
  @include inner-container;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.sub-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  width: 500px;
  justify-items: center;
  margin-left: auto;
  text-align: center;
}

.title {
  @include sr-only;
}

.category-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.category-item {
  &-link:hover {
    color: $blue;
  }
}
