// @import "./_styles/variables";
@import "../../../_styles/variables";
@import "../../../_styles/mixins";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 100px 0 200px 0;
  background-color: $primary;

  .history {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-line {
      width: 2px;
      height: 80%;
      background-color: #ff9945;
      border-radius: 100px;
      position: absolute;
    }

    li {
      border-left: 2px solid $white;
      padding: 40px 30px;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      @include label;

      .period {
        @include content;
        font-weight: 700;
        color: #ff9945;
      }

      div:nth-child(2) {
        margin-top: 12px;
      }

      &::after {
        @include label;
        font-size: 32px;
        color: $white;
        // color: $black;
        font-weight: 600;
        position: absolute;
        margin-left: -260px;
        content: attr(data-year);
      }

      &::before {
        margin-left: -111px;
        position: absolute;
        margin-top: 15px;
        width: 12px;
        height: 12px;
        content: "";
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        border: 4px solid #ffb87e;
        border-color: var(--border, #ffb87e);
      }
    }
    .selected-year {
      font-weight: 600;
    }
  }
}
