// @import "./_styles/variables";
@import "../../../_styles/variables";
@import "../../../_styles/mixins";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .history {
    width: 50%;
    display: flex;
    flex-direction: column;

    li {
      border-left: 2px solid $black;
      padding: 30px;
      padding-left: 100px;
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        border-image: linear-gradient(transparent, $black) 1 100%;
      }
      &:last-child {
        border-image: linear-gradient($black, transparent) 1 100%;
      }

      &::after {
        position: absolute;
        margin-left: -250px;
        font-size: 20px;
        font-weight: 700;
        content: attr(data-year);
      }

      &::before {
        margin-left: -107px;
        position: absolute;
        margin-top: 5px;
        width: 12px;
        height: 12px;
        content: "";
        background-color: $black;
        border-radius: 50%;
      }
    }
  }
}
