@import "../../_styles/mixins";
@import "../../_styles/variables";

.textarea {
  background-color: $gray-lightest;
  border: 1px solid $gray-lighter;
  padding: 6px 8px;
  outline: none;
  width: 100%;
  height: 300px;
  resize: none;
  @include table-content-small;
  //   border-radius: 2px;
}
