@import "@/_styles/variables";
@import "@/_styles/mixins";

.container {
  @include inner-container;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;

  .article {
    width: 100%;
    @include table-content;

    .head-title {
      background-color: $gray-lightest;
      padding: 22px 18px;
      border-top: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;
      @include content;
      color: $primary;
      font-weight: 500;
    }
    .head-sub {
      padding: 22px 18px;
      display: grid;
      grid-template-columns: 1fr auto auto;
      column-gap: 24px;
      border-bottom: 1px solid $gray-lighter;
      @include table-content-small;

      .attachment-file {
        display: inline-flex;
        align-items: start;
        gap: 8px;
      }

      .title {
        padding-right: 8px;
        font-size: 16px;
      }

      .info-item {
        color: $policy-font;
        font-weight: 400;

        > time {
          color: inherit;
        }

        .file-download {
          display: flex;
          align-items: center;

          &-button {
            font-size: 15px;
            padding: 0px;
            margin-bottom: 2px;
            color: $policy-font;
          }
        }
      }
    }

    .content {
      padding: 50px 18px;
      line-height: 1.3;
      white-space: pre-line;
    }

    .nav {
      display: grid;
      padding: 18px;
      @include table-content-small;
      border-top: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;

      grid-template-columns: auto 1fr auto;
      column-gap: 24px;
      row-gap: 18px;
      &-item {
        display: contents;
        &::before {
          content: "";
          display: block;
          width: calc(100% + 30px);
          margin-left: -15px;
          height: 1px;
          background-color: $gray-lighter;
          grid-column: 1 / -1;
        }

        &:first-child::before {
          content: none;
        }
        .arrow {
          padding: 0;
        }
        span {
          display: flex;
          justify-items: center;
          gap: 8px;

          p {
            margin: 0;
          }
        }
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .edit-del-button-container {
      display: flex;
      gap: 12px;
    }
  }
}
