@import "../../_styles/mixins";
@import "../../_styles/variables";

.button {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 15px;
  white-space: nowrap;
  width: fit-content;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1;
  font-weight: 500;
}
.primary {
  background-color: $primary-lighter;
  color: $white;
  border: 1px solid $primary-lighter;
}
.primary-border {
  border: 1px solid $primary-lighter;
  background-color: $white;
  color: $primary;
}

.blue {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
}
.transparent-link {
  background-color: transparent;
  color: $primary;
  border: none;

  text-decoration: underline;
}
.full-width {
  @include full-width;
}
.sr-only {
  @include sr-only;
}
