@import "@/_styles/mixins";
@import "@/_styles/variables";

.button {
  @include button-base;
}
.primary {
  background-color: $primary-lighter;
  color: $white;
  border: 1px solid $primary-lighter;
}
.primary-border {
  border: 1px solid $primary-lighter;
  background-color: $white;
  color: $primary;
}

.blue {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
}

.red {
  border: 1px solid $red;
  background-color: $red;
  color: $white;
}
.transparent-link {
  background-color: transparent;
  color: $primary;
  border: none;
  text-decoration: underline;
}

.icon {
  background-color: transparent;
  border: none;
}

.full-width {
  @include full-width;
}
.sr-only {
  @include sr-only;
}
