@import "./_styles/variables";
@import "./_styles/mixins";

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-pretendard);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main {
  flex: 1;
  &-inner {
    @include inner-container;
  }
}
