@import "./_styles/variables";
@import "./_styles/mixins";

.body {
  font-family: var(--font-pretendard);
}
.main {
  &-inner {
    max-width: 1224px;
    height: 100%;
    padding: 0 24px;
    display: flex;
    margin: 0 auto;
  }
}
