@import "./_styles/variables";
@import "./_styles/mixins";

.container {
  @include inner-container;

  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 100px auto 250px auto;

  .top-section {
    width: 100%;

    .left-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //   padding: 40px 0 0 40px;
      width: 80%;
    }
    .photo {
      width: 800px;
      height: 400px;
      float: right;
      //   background-color: aliceblue;
    }

    .greeting {
      @include title;
      //   font-weight: 400;
      color: $primary;

      em {
        color: inherit;
      }
    }
    .waterjet-more-button {
      //   margin-top: 100px;
      background-image: linear-gradient($blue, $blue-darker);
      color: $white;
      margin-left: auto;

      width: fit-content;
      padding: 60px 60px 40px 40px;
      border-radius: 20px 0 0 0;
      font-size: 18px;
      line-height: 1.4;

      position: relative;
      .icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  .full-width {
    @include full-width-without-padding;
    // background-color: $primary;
    // padding-top: 120px;

    .list-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: $white;
      max-width: calc($inner-max-width - 48px);
      margin: 0 auto;
      gap: 40px;
    }
  }

  .article-container {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .notice,
    .inquiry {
      display: flex;
      flex-direction: column;
    }
    .inquiry {
      width: 420px;
      padding: 30px;
      padding-bottom: 0;
      //   background-color: $blue;
      background-image: linear-gradient($blue, $blue-darker);
      color: $white;

      .title {
        font-size: 20px;
        color: inherit;
        margin-bottom: 18px;
        font-weight: 500;
      }

      .divider {
        background-color: $gray;
        width: calc(100% + 60px);
        margin-left: -30px;
        height: 0.5px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .numbers {
        @include sub-title;
        font-size: 30px;
        li {
          color: $white;
        }
      }

      .description {
        line-height: 1.5;
        color: $gray-lighter;
        margin-bottom: 20px;
        font-size: 15px;
      }
      .inquiry-button {
        width: calc(100% + 60px);
        margin-left: -30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        padding: 24px 30px;
        font-size: 18px;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgba(0, 0, 0, 0.35);
        }
      }
    }

    .notice {
      flex: 1;
      padding: 30px 30px 0 30px;
      justify-content: space-between;

      .title-button-container {
        display: flex;
        align-items: center;

        .title {
          font-size: 18px;
          font-weight: 500;
          background-color: $blue;
          color: $white;
          border-radius: 30px;
          padding: 12px 20px;
        }
        .notice-navigate-link {
          width: 42px;
          height: 42px;
          border: 1px solid $gray;
          //   background-color: $gray-lightest;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          &:hover {
            background-color: $gray-lightest;
          }
        }
      }

      .link-item {
        &:not(:last-child) {
          border-bottom: 1px solid $gray;
        }
        &:hover {
          background-color: $gray-lightest;
        }
        padding: 30px;

        .notice-title {
          font-size: 19px;
          font-weight: 500;
          line-height: 1.5;
        }
        .notice-created-at {
          margin-top: 10px;
          font-size: 15px;
          color: $gray-02;
        }
      }
    }
  }
}
.sr-only {
  @include sr-only;
}
.photo {
  width: 300px;
  height: 200px;
}

.carousel-container {
  width: 100%;
  overflow-x: hidden;
  margin-top: 10px;

  .carousel {
    display: flex;
    width: 100%;
    // overflow-x: hidden;
    overflow-x: scroll;

    gap: 20px;
    background: yellow;
  }
}

.title-button-container {
  display: flex;
  justify-content: space-between;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

// list item 스타일링
.list-item {
  //   padding: 42px;
  //   @include box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    color: $blue-darker;
    font-size: 24px;
    font-weight: 700;
  }
  .content {
    color: $policy-font;
    font-size: 17px;
    line-height: 1.6;
    margin-top: 40px;

    li {
      color: $policy-font;
    }
  }

  .more-button {
    margin-left: auto;
    bottom: 0;
  }
}
