@import "@/_styles/mixins";
@import "@/_styles/variables";

.pagination {
  display: inline-flex;
  margin: 0 auto;
  margin-top: 40px;
  gap: 8px;
  button {
    padding: 4px;
  }
  .pagination-button {
    &.active {
      color: $primary-lighter;
    }

    &.inActive {
      color: $gray-02;
    }
  }
}
