@import "@/_styles/mixins";
@import "@/_styles/variables";

.container {
  margin: 100px 0;
  // TODO: container에 inner-container 줄건지
  // inner-container에 줄건지 통일하기
  .inner-container {
    @include inner-container;
    flex-direction: column;
  }
  .title,
  .title > em {
    @include title;
    font-weight: 500;
    color: $primary-lighter;
    margin-bottom: 50px;
  }
  .label,
  .label > em {
    @include label;
    color: $primary-lighter;
    font-weight: 600;
  }
  .content {
    @include content;

    p {
      margin-bottom: 32px;
    }
  }
}
