@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin inner-container {
  max-width: 1224px;
  height: 100%;
  padding: 0 24px;
  display: flex;
  margin: 0 auto;
}
