$black: #464555;
$policy-font: #616772;
// $white: #d3d3d8;
$white: #f5f5f5;
$gray: #838293;

// $background: #222b3a;
// $background: #273653;
$background: #2c313d;
$primary: #232e7d;
$secondary: #e86a02;

// banner images
$businessBanner: "../../_images/waterjet.webp";
