// $black: #464555;
// $policy-font: #616772;
// // $white: #d3d3d8;
// $white: #f5f5f5;
// $light-gray: #eaeaea;
// $gray: #838293;

// // $background: #222b3a;
// // $background: #273653;
// $background: #2c313d;
// $primary: #192d57;
// // $primary-darker: #192d57;

// $secondary: #e86a02;

// 새로운
$black: #464555;
$policy-font: #616772;
$primary: #192d52;
$gray-lighter: #eaeaea;
$gray: #75767f;
// $white: #e8eaf3;
$white: white;
$blue: #3272eb;
$primary-lighter: #2f437a;

// banner images
$businessBanner: "/images/waterjet.webp";

$inner-max-width: 1310px;
