@import "../../../_styles/mixins";
@import "../../../_styles/variables";

.container {
  width: 100%;
  @include text-no-break;

  .inner-container {
    @include inner-container;
  }

  .dark-section {
    background-color: $primary;
    padding: 65px 0;
  }

  .sub-title,
  .sub-title > em {
    @include sub-title;
    text-align: center;
    color: $primary-lighter;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .label,
  .label > em {
    @include label;
    text-align: center;
    color: $white;
  }

  .image-content-container {
    @include row-container;
    margin-top: 50px;

    .image {
      @include box-shadow;
      width: 45%;
      height: fit-content;
    }
  }

  .content {
    @include content;
    color: $black;
    p {
      margin-bottom: 24px;
    }
  }

  .feature {
    flex-direction: column;

    .feature-title-container {
      @include inner-container;
      flex-direction: column;
    }

    .sub-title {
      text-align: left;
      font-weight: 700;
    }

    .card-background {
      background-color: $gray-lighter;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 140px;
      height: 400px;
      margin-bottom: 300px;
      position: relative;

      ol {
        @include content;
        @include box-shadow;

        height: auto;
        max-width: 1180px;
        background-color: $primary;
        position: absolute;
        margin-top: -100px;
        display: grid;
        grid-template-columns: repeat(3, minmax(260px, 1fr));
        gap: 50px;
        padding: 50px;

        li {
          border: 3px solid $primary-lighter;
          padding: 24px;
          padding-bottom: 25px;
          display: flex;
          flex-direction: column;
          p {
            color: $white;
          }

          .number {
            background-color: $primary;
            width: 70px;
            display: flex;
            justify-content: center;
            color: $white;
            margin-top: -40px;
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 200;
            line-height: 1;
            z-index: 1;
            position: relative;
            font-weight: 400;

            // 원
            // &::before {
            //   margin-left: 12px;
            //   position: absolute;
            //   width: 35px;
            //   height: 35px;
            //   content: "";
            //   background-color: $white;
            //   opacity: 40%;
            //   border-radius: 50%;
            //   z-index: -1;
            // }

            em {
              font-weight: 700;
              color: $white;
            }
          }
        }
      }
    }
  }
}
.sr-only {
  @include sr-only;
}
