@import "../../../_styles/mixins";
@import "../../../_styles/variables";

.container {
  width: 100%;
  @include text-no-break;

  .inner-container {
    @include inner-container;
  }

  .dark-section {
    background-color: $primary-lighter;
    padding: 65px 0;
  }

  .sub-title,
  .sub-title > em {
    @include sub-title;
    text-align: center;
    color: $primary-lighter;
    margin-top: 100px;
    margin-bottom: 24px;
  }

  .label,
  .label > em {
    @include label;
    text-align: center;
    color: $white;
  }

  .image-content-container {
    @include row-container;
    margin-top: 50px;

    .image {
      @include box-shadow;
      width: 45%;
      height: fit-content;
    }
  }

  .content {
    @include content;
    // color: $black;
    color: $policy-font;
    p {
      margin-bottom: 24px;
      em {
        color: $primary-lighter;
        font-weight: 700;
      }
    }
  }

  .feature {
    flex-direction: column;

    .feature-title-container {
      @include inner-container;
      flex-direction: column;
    }

    .sub-title {
      text-align: left;
      font-weight: 700;
    }

    .card-background {
      background-color: $gray-lightest;

      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 140px;
      height: 400px;
      margin-bottom: 300px;
      position: relative;

      ol {
        @include content;
        @include box-shadow;

        height: auto;
        max-width: 1180px;
        background-color: $white;
        position: absolute;
        margin-top: -100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 50px;

        li {
          background-color: $gray-lightest;
          // border: 3px solid $policy-font;

          padding: 24px;
          padding-bottom: 25px;
          display: flex;
          flex-direction: column;
          p {
            color: $policy-font;
            // color: $white;
            // margin-top: 10px;
          }

          .number {
            margin-left: -40px;
            background-color: $white;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $blue;
            margin-top: -40px;
            // margin-bottom: 20px;
            font-size: 22px;
            font-weight: 200;
            line-height: 1;
            z-index: 1;
            border: 5px solid $blue;
            border-radius: 50%;
            position: relative;
            font-weight: 700;

            // 원
            // &::before {
            //   margin-left: 12px;
            //   position: absolute;
            //   width: 35px;
            //   height: 35px;
            //   content: "";
            //   background-color: $white;
            //   opacity: 40%;
            //   border-radius: 50%;
            //   z-index: -1;
            // }

            em {
              font-weight: 800;
              color: inherit;
            }
          }
        }
      }
    }
  }
}
.sr-only {
  @include sr-only;
}
