@import "../../_styles/mixins";
@import "../../_styles/variables";

.container {
  display: flex;
  position: relative;

  .input {
    display: flex;
    background-color: $gray-lightest;
    border: 1px solid $gray-lighter;
    padding: 7px 9px;
    outline: none;
    font-size: 15px;
    border-radius: 2px;

    &::placeholder {
      color: $gray-border;
    }
  }

  .inner-right {
    &-icon {
      display: flex;
      align-items: center;
      right: 9px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.full-width {
  @include full-width;
}
.sr-only {
  @include sr-only;
}
