@import "../../_styles/mixins";
@import "../../_styles/variables";

.input {
  background-color: $gray-lightest;
  border: 1px solid $gray-lighter;
  padding: 6px 8px;
  outline: none;
  //   border-radius: 2px;
  @include table-content-small;
}
.full-width {
  @include full-width;
}
.sr-only {
  @include sr-only;
}
