@import "@/_styles/mixins";
@import "@/_styles/variables";

.container {
  display: flex;
  position: relative;
  align-items: center;

  .input {
    @include input-base;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
  .message {
    margin-left: 12px;
    @include table-content-small;
    color: $policy-font;
  }
  .inner-right {
    &-icon {
      display: flex;
      align-items: center;
      right: 9px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.full-width {
  @include full-width;
}
.sr-only {
  @include sr-only;
}
